.discord-debug-panel {
  max-width: 32rem;
  padding: 1rem;
  border: 1px solid currentColor;
  border-radius: 0.5rem;

  dl {
    margin: 0;
  }

  dl > div {
    display: grid;
    grid-template-columns: 10rem 1fr;
    gap: 1rem;
    padding-block: 0.25rem;
  }

  dt {
    font-weight: 600;
  }

  dd {
    margin: 0;
  }

  .error {
    font-weight: 600;
  }
}